<div ng-controller="IndexCtrl" class="landing-section">
	<header class="centered-navigation" role="banner" ng-controller="NavCtrl">
		<div class="centered-navigation-wrapper">
			<a href="javascript:void(0)" class="mobile-logo">
				<img src="../img/heart.png" alt="Heart">
			</a>
			<a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
			<nav role="navigation">
				<ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
					<li class="nav-link"><a href="#wedding-section" class="scroll-on-page-link">Wedding</a></li>
					<li class="nav-link"><a href="#rsvp-section" class="scroll-on-page-link">RSVP</a></li>
					<li class="nav-link logo">
						<a href="javascript:void(0)" class="logo">
							<img src="../img/heart.png" alt="Heart">
						</a>
					</li>
					<li class="nav-link"><a href="#accomodations-section" class="scroll-on-page-link">Accomodations</a></li>
					<li class="nav-link"><a href="#registry-section" class="scroll-on-page-link">Registry</a></li>
				</ul>
			</nav>
		</div>
	</header>
</div>
<div id="wedding-section">
	<div class="wedding-title-container">
		<div class="wedding-title">
			<h1 class="wedding-title-text">The Wedding</h1>
		</div>
		<div id="wedding-svg-container">
			<svg id="wedding-svg" viewBox="0 0 200 175"/>
		</div>
	</div>
	<div class="wedding-info-container">
		<p class="wedding-info-text">The wedding will be held at <a href="http://www.hudsongardens.org/" class="wedding-link">The Hudson Gardens</a> in Littleton, Colorado on August 27th, 2015. The ceremony starts at 6:00pm and the venue is located at <a href="https://www.google.com/maps/place/6115+S+Santa+Fe+Dr,+Littleton,+CO+80120/@39.605379,-105.0213347,17z/data=!3m1!4b1!4m2!3m1!1s0x876c81d044459e75:0x8e999f5d41536c94" class="wedding-link">6115 South Santa Fe Drive, Littleton, CO 80120.</a class="wedding-link"> The ceremony and reception will both be held at the Hudson Gardens, there are <a href="#accomodations-section" class="scroll-on-page-link wedding-link">two hotels</a> nearby that can provide shuttle service to and from the venue. <b>We couldn't be more excited to celebrate with everyone!</b></p>
	</div>
</div>
<div id="rsvp-section">
	<div class="wedding-title-container">
		<div class="wedding-title">
			<h1 class="wedding-title-text rsvp-title">RSVP</h1>
		</div>
		<div id="rsvp-svg-container">
			<svg id="rsvp-svg" viewBox="0 0 200 200"/>
		</div>
	</div>
	<div class="wedding-info-container">
		<p class="wedding-info-text">Let us know if you're coming, and who's coming with you. You can also RSVP by mailing back the RSVP cards provided with the invitations. The password was included in your invitation insert and is good for both RSVP's and song requests, dont be shy!</p>
		<section class="rsvp-form-container">
			<div id="rsvp-input-section">
				<div class="field--wrapper">
					<fieldset>
						<form autocomplete="off" novalidate>
							<p class="rsvp-section-input-container">
								<label for="fname" class="name-label">Your Name</label>
								<input name="fname" placeholder="Your Name" class="name-input" required/>
							</p>
						</form>
					</fieldset>
				</div>
			</div>
			<div id="song-request-section">
				<div class="field--wrapper">
					<fieldset>
						<form autocomplete="off" novalidate>
							<p class="rsvp-section-input-container">
								<label for="songName" class="name-label">Song Request</label>
								<input name="songName" placeholder="Song Request (optional)" class="name-input" />
							</p>
						</form>
					</fieldset>
				</div>
			</div>
			<div id="password-section">
				<div class="field--wrapper">
					<fieldset>
						<form autocomplete="off" novalidate>
							<p class="rsvp-section-input-container">
								<label for="passWord" class="name-label">Password</label>
								<input name="passWord" placeholder="Password" class="name-input" required/>
							</p>
						</form>
					</fieldset>
				</div>
			</div>
		</section>
		<section class="rsvp-form-container">
			<div id="rsvp-input-section">
				<div class="field--wrapper">
					<fieldset>
						<form autocomplete="off" novalidate>
							<p class="rsvp-section-input-container">
								<label for="guestsNames" class="name-label">Name of Guest(s)</label>
								<input name="guestsNames" placeholder="Name of Guest(s)" class="name-input" required/>
							</p>
						</form>
					</fieldset>
				</div>
			</div>
			<div id="song-request-section">
				<div class="field--wrapper">
					<fieldset>
						<form autocomplete="off" novalidate>
							<p class="rsvp-section-input-container">
								<label for="artistName" class="name-label">Name of Artist</label>
								<input name="artistName" placeholder="Name of Artist (optional)" class="name-input" />
							</p>
						</form>
					</fieldset>
				</div>
			</div>
			<div class="send-btn-section">
				<div class="btn-wrapper">
					<div class="send-rsvp-btn">Send</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div id="accomodations-section">
	<div class="wedding-title-container">
		<div class="wedding-title">
			<h1 class="wedding-title-text accomodations-title">Accomodations</h1>
		</div>
		<div id="accomodations-svg-container">
			<svg id="accomodations-svg" viewBox="0 0 200 200"/>
		</div>
	</div>
	<div class="wedding-info-container">
		<p class="wedding-info-text accomodations-info">For our out of town and guests and anyone who will lives far from Littleton, we blocked off rooms at two different hotels nearby. Both of the hotels provide a complementary shuttle service for any wedding guests on the night of the wedding. Make sure to mention that you are part of the <b>Healy - Staffieri Wedding</b> to get discounted rates.</p>
		<div class="cards">
		<div class="card">
			<div class="card-image">
				<img src="../img/Holiday_Inn.svg" alt="Holiday Inn Logo" class="holiday-inn-logo">
			</div>
			<div class="card-header">

			</div>
			<div class="card-copy">
				<p>7390 West Hampden Avenue Lakewood, CO 80227</p>
				<p><a href="http://www.hilakewood.com" class="accomodations-link">www.hilakewood.com</a></p>
				<p>303-980-9200</p>
			</div>
		</div>

		<div class="card">
			<div class="card-image">
				<img src="../img/Hampton_Inn.svg" alt="Hampton Inn Logo" class="hampton-inn-logo">
			</div>
			<div class="card-header">

			</div>
			<div class="card-copy">
				<p>3095 West County Line Road Littleton, CO 80227</p>
				<p><a href="http://www.denverhighlandsranchsuites.hamptoninn.com/" class="accomodations-link">www.denverhighlandsranchsuites.hamptoninn.com</a></p>
				<p>303-794-1800</p>
			</div>
		</div>
	</div>
	</div>
</div>
<div id="registry-section">
	<div class="wedding-title-container">
		<div class="wedding-title">
			<h1 class="wedding-title-text registry-title">Registry</h1>
		</div>
		<div id="registry-svg-container">
			<svg id="registry-svg" viewBox="0 0 200 200"/>
		</div>
	</div>
	<div class="wedding-info-container">
		<p class="wedding-info-text">If you're inclined to bring a gift with you, check out our registries for suggestions. </p>
		<section class="registry-container">
			<div class="registry-item">
				<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=542106412&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" class="registry-svg">
					<!-- <img src="../img/bed-bath-beyond.svg" alt="Bed Bath and Beyond" class="bbb-logo"> -->
					<svg viewBox="0 0 224 160" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					    <!-- Generator: Sketch 3.3.1 (12002) - http://www.bohemiancoding.com/sketch -->
					    <title>Bed Bath &amp; Beyond</title>
					    <desc>Bed Bath adn Beyond logo for the registry.</desc>
					    <defs></defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					        <g id="Bed_Bath__and__Beyond" sketch:type="MSLayerGroup">
					            <path d="M0,0.28319171 L223.716808,0.28319171 L223.716808,223.930363 L0,223.930363 L0,0.28319171 Z" id="Fill-1" fill="transparent" sketch:type="MSShapeGroup" id="bbb"></path>
					            <path d="M9.86992746,139.781803 L12.1447461,139.781803 C14.655171,139.781803 16.7628601,140.460767 16.7628601,142.551047 C16.7628601,143.37857 16.3415544,144.084228 15.4060933,144.546155 C17.0564974,144.845596 18.0279378,145.945865 18.0279378,147.166839 C18.0279378,149.203731 15.808829,150.019648 13.077886,150.019648 L9.86992746,150.019648 L9.86992746,139.781803 L9.86992746,139.781803 Z M11.4100725,148.958839 L12.949057,148.958839 C14.6737409,148.958839 16.4889534,148.646632 16.4889534,147.086756 C16.4889534,145.497865 14.4334922,145.266902 12.7471088,145.266902 L11.4100725,145.266902 L11.4100725,148.958839 L11.4100725,148.958839 Z M11.4100725,144.288497 L11.9973472,144.288497 C13.7371192,144.288497 15.2238756,144.139938 15.2238756,142.551047 C15.2238756,141.001617 13.9030881,140.84029 12.0147565,140.84029 L11.4100725,140.84029 L11.4100725,144.288497 L11.4100725,144.288497 Z" id="bbb" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path d="M20.2424041,147.057741 C20.2632953,148.240415 21.3983834,149.189803 23.0673575,149.189803 C24.3138653,149.189803 25.1204974,148.632705 25.6880415,147.873658 L26.9357098,148.402902 C26.1093472,149.542632 24.716601,150.194902 22.9559378,150.194902 C20.3909637,150.194902 18.7405596,148.741803 18.7405596,146.909181 C18.7405596,145.023171 20.2249948,143.460974 22.9211192,143.460974 C25.6880415,143.460974 27.1550674,145.157803 27.0076684,147.057741 L20.2424041,147.057741 L20.2424041,147.057741 Z M25.4686839,146.133886 C25.2667358,145.212352 24.2210155,144.466073 22.9385285,144.466073 C21.6734508,144.466073 20.5000622,145.212352 20.3155233,146.133886 L25.4686839,146.133886 L25.4686839,146.133886 Z" id="bbb" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M26.8219689,143.636228 L28.5257617,143.636228 L31.5700725,148.21372 L34.3555648,143.636228 L36.0233782,143.636228 L29.6620104,153.603648 L27.9953575,153.603648 L30.7796891,149.420767 L26.8219689,143.636228" id="Fill-4" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M35.8376788,146.843026 C35.8376788,144.967461 37.8362694,143.460974 40.3652642,143.460974 C42.8954197,143.460974 44.8928497,144.967461 44.8928497,146.843026 C44.8928497,148.715109 42.8780104,150.194902 40.3652642,150.194902 C37.8536788,150.194902 35.8376788,148.715109 35.8376788,146.843026 L35.8376788,146.843026 Z M37.303544,146.826777 C37.303544,148.131316 38.5512124,149.189803 40.3652642,149.189803 C42.1804767,149.189803 43.4258238,148.131316 43.4258238,146.826777 C43.4258238,145.537326 42.1804767,144.466073 40.3652642,144.466073 C38.5512124,144.466073 37.303544,145.537326 37.303544,146.826777 L37.303544,146.826777 Z" id="Fill-5" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M47.6017409,144.410363 L47.6388808,144.410363 C48.2424041,143.801036 49.0327876,143.460974 50.0959171,143.460974 C52.4786736,143.460974 53.0288083,144.736497 53.0288083,146.230218 L53.0288083,150.019648 L51.5617824,150.019648 L51.5617824,146.42056 C51.5617824,145.388767 51.4515233,144.466073 49.7477306,144.466073 C47.7305699,144.466073 47.6017409,145.850694 47.6017409,146.991585 L47.6017409,150.019648 L46.1358756,150.019648 L46.1358756,143.636228 L47.6017409,143.636228 L47.6017409,144.410363" id="Fill-6" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M61.4409948,149.136415 L61.4026943,149.136415 C60.6889119,149.829306 59.6060518,150.194902 58.4338238,150.194902 C55.9025078,150.194902 54.3089741,148.60601 54.3089741,146.843026 C54.3089741,145.023171 55.8665285,143.460974 58.4523938,143.460974 C59.6060518,143.460974 60.7063212,143.867192 61.4026943,144.546155 L61.4409948,144.546155 L61.4409948,138.817326 L62.9080207,138.817326 L62.9080207,150.019648 L61.4409948,150.019648 L61.4409948,149.136415 L61.4409948,149.136415 Z M55.8119793,146.760622 C55.8119793,148.009451 56.800829,149.189803 58.6346114,149.189803 C60.5217824,149.189803 61.514114,148.062839 61.514114,146.773389 C61.514114,145.497865 60.4312539,144.466073 58.6160415,144.466073 C56.9122487,144.466073 55.8119793,145.565181 55.8119793,146.760622 L55.8119793,146.760622 Z" id="Fill-7" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M77.5852435,150.019648 L76.1182176,150.019648 L76.1182176,149.136415 L76.083399,149.136415 C75.3313161,149.842073 74.3227358,150.194902 73.1122073,150.194902 C70.5832124,150.194902 68.9873575,148.60601 68.9873575,146.843026 C68.9873575,145.023171 70.5472332,143.460974 73.1319378,143.460974 C74.3041658,143.460974 75.368456,143.867192 76.083399,144.546155 L76.1182176,144.546155 L76.1182176,143.636228 L77.5852435,143.636228 L77.5852435,150.019648 L77.5852435,150.019648 Z M70.4915233,146.760622 C70.4915233,148.009451 71.4815337,149.189803 73.3141554,149.189803 C75.202487,149.189803 76.1924974,148.062839 76.1924974,146.773389 C76.1924974,145.497865 75.1119585,144.466073 73.2967461,144.466073 C71.5917927,144.466073 70.4915233,145.565181 70.4915233,146.760622 L70.4915233,146.760622 Z" id="Fill-8" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M80.9939896,144.410363 L81.0311295,144.410363 C81.6346528,143.801036 82.4250363,143.460974 83.4870052,143.460974 C85.8709223,143.460974 86.421057,144.736497 86.421057,146.230218 L86.421057,150.019648 L84.9540311,150.019648 L84.9540311,146.42056 C84.9540311,145.388767 84.843772,144.466073 83.1388187,144.466073 C81.1228187,144.466073 80.9939896,145.850694 80.9939896,146.991585 L80.9939896,150.019648 L79.5269637,150.019648 L79.5269637,143.636228 L80.9939896,143.636228 L80.9939896,144.410363" id="Fill-9" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M87.0048497,143.636228 L88.7086425,143.636228 L91.7529534,148.21372 L94.537285,143.636228 L96.2062591,143.636228 L89.8448912,153.603648 L88.1782383,153.603648 L90.9625699,149.420767 L87.0048497,143.636228" id="Fill-10" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M105.146528,145.116021 C104.94458,144.777119 104.504705,144.466073 103.974301,144.466073 C103.460145,144.466073 102.91001,144.763192 102.91001,145.171731 C102.91001,145.755523 103.89886,145.97256 104.908601,146.285927 C105.916021,146.595813 106.906031,147.044974 106.906031,148.118549 C106.906031,149.325596 105.587565,150.194902 103.99171,150.194902 C102.543254,150.194902 101.407005,149.584415 100.947399,148.579316 L102.250777,148.171938 C102.616373,148.770819 103.037679,149.189803 104.01028,149.189803 C104.798342,149.189803 105.403026,148.797513 105.403026,148.21372 C105.403026,146.787316 101.516104,147.274777 101.516104,145.266902 C101.516104,144.193326 102.690653,143.460974 104.083399,143.460974 C105.073409,143.460974 105.98914,143.97629 106.375627,144.641326 L105.146528,145.116021" id="Fill-11" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M109.746073,150.019648 L108.281368,150.019648 L108.281368,144.641326 L107.383047,144.641326 L107.383047,143.636228 L108.281368,143.636228 L108.281368,141.341679 L109.746073,141.341679 L109.746073,143.636228 L111.285057,143.636228 L111.285057,144.641326 L109.746073,144.641326 L109.746073,150.019648" id="Fill-12" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M111.065699,146.843026 C111.065699,144.967461 113.065451,143.460974 115.594446,143.460974 C118.124601,143.460974 120.123192,144.967461 120.123192,146.843026 C120.123192,148.715109 118.107192,150.194902 115.594446,150.194902 C113.08286,150.194902 111.065699,148.715109 111.065699,146.843026 L111.065699,146.843026 Z M112.532725,146.826777 C112.532725,148.131316 113.779233,149.189803 115.594446,149.189803 C117.409658,149.189803 118.656166,148.131316 118.656166,146.826777 C118.656166,145.537326 117.409658,144.466073 115.594446,144.466073 C113.779233,144.466073 112.532725,145.537326 112.532725,146.826777 L112.532725,146.826777 Z" id="Fill-13" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M122.757803,144.33028 L122.794943,144.33028 C123.307938,143.82657 123.746653,143.460974 124.700684,143.460974 C125.196269,143.460974 125.600166,143.582839 126.021472,143.760415 L125.323938,144.750425 C125.031461,144.600705 124.829513,144.466073 124.444187,144.466073 C122.829762,144.466073 122.757803,145.999254 122.757803,146.826777 L122.757803,150.019648 L121.290777,150.019648 L121.290777,143.636228 L122.757803,143.636228 L122.757803,144.33028" id="Fill-14" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M127.467606,147.057741 C127.486176,148.240415 128.623585,149.189803 130.29256,149.189803 C131.537907,149.189803 132.344539,148.632705 132.913244,147.873658 L134.159751,148.402902 C133.33571,149.542632 131.940642,150.194902 130.182301,150.194902 C127.615005,150.194902 125.965762,148.741803 125.965762,146.909181 C125.965762,145.023171 127.450197,143.460974 130.146321,143.460974 C132.913244,143.460974 134.380269,145.157803 134.23287,147.057741 L127.467606,147.057741 L127.467606,147.057741 Z M132.692725,146.133886 C132.491938,145.212352 131.446218,144.466073 130.163731,144.466073 C128.899813,144.466073 127.725264,145.212352 127.541886,146.133886 L132.692725,146.133886 L132.692725,146.133886 Z" id="Fill-15" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M139.581016,146.843026 C139.581016,144.967461 141.577285,143.460974 144.10744,143.460974 C146.637596,143.460974 148.636187,144.967461 148.636187,146.843026 C148.636187,148.715109 146.619026,150.194902 144.10744,150.194902 C141.595855,150.194902 139.581016,148.715109 139.581016,146.843026 L139.581016,146.843026 Z M141.046881,146.826777 C141.046881,148.131316 142.292228,149.189803 144.10744,149.189803 C145.922653,149.189803 147.169161,148.131316 147.169161,146.826777 C147.169161,145.537326 145.922653,144.466073 144.10744,144.466073 C142.292228,144.466073 141.046881,145.537326 141.046881,146.826777 L141.046881,146.826777 Z" id="Fill-16" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M151.473907,150.019648 L150.006881,150.019648 L150.006881,144.641326 L149.199088,144.641326 L149.199088,143.636228 L150.006881,143.636228 L150.006881,141.097948 C150.006881,140.569865 150.006881,139.903668 150.391047,139.442902 C150.868062,138.873036 151.729244,138.642073 152.610155,138.642073 C152.958342,138.642073 153.306528,138.695461 153.654715,138.776705 L153.654715,139.874653 C153.325098,139.79457 153.032622,139.726093 152.665865,139.726093 C151.473907,139.726093 151.473907,140.352829 151.473907,141.479793 L151.473907,143.636228 L153.654715,143.636228 L153.654715,144.641326 L151.473907,144.641326 L151.473907,150.019648" id="Fill-17" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M159.277927,143.636228 L160.744953,143.636228 L160.744953,150.017326 L159.277927,150.017326 L159.277927,143.636228 Z M161.057161,141.23258 C161.057161,141.667813 160.580145,142.006715 160.012601,142.006715 C159.443896,142.006715 158.968041,141.667813 158.968041,141.23258 C158.968041,140.813596 159.443896,140.460767 160.012601,140.460767 C160.580145,140.460767 161.057161,140.813596 161.057161,141.23258 L161.057161,141.23258 Z" id="Fill-18" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M164.577326,150.019648 L163.110301,150.019648 L163.110301,144.641326 L162.210819,144.641326 L162.210819,143.636228 L163.110301,143.636228 L163.110301,141.341679 L164.577326,141.341679 L164.577326,143.636228 L166.116311,143.636228 L166.116311,144.641326 L164.577326,144.641326 L164.577326,150.019648" id="Fill-19" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M170.148311,145.116021 C169.946363,144.777119 169.507648,144.466073 168.974922,144.466073 C168.461927,144.466073 167.911793,144.763192 167.911793,145.171731 C167.911793,145.755523 168.900642,145.97256 169.911544,146.285927 C170.917803,146.595813 171.907813,147.044974 171.907813,148.118549 C171.907813,149.325596 170.589347,150.194902 168.994653,150.194902 C167.545036,150.194902 166.409948,149.584415 165.950342,148.579316 L167.25256,148.171938 C167.618155,148.770819 168.040622,149.189803 169.012062,149.189803 C169.800124,149.189803 170.404808,148.797513 170.404808,148.21372 C170.404808,146.787316 166.517886,147.274777 166.517886,145.266902 C166.517886,144.193326 167.692435,143.460974 169.085181,143.460974 C170.075192,143.460974 170.992083,143.97629 171.377409,144.641326 L170.148311,145.116021" id="Fill-20" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M179.476228,145.999254 L182.612228,143.636228 L184.573679,143.636228 L180.887544,146.352083 L185.267731,150.019648 L183.327171,150.019648 L179.860394,147.113451 L179.476228,147.396642 L179.476228,150.019648 L178.009202,150.019648 L178.009202,138.817326 L179.476228,138.817326 L179.476228,145.999254" id="Fill-21" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M186.204352,143.636228 L187.671378,143.636228 L187.671378,150.017326 L186.204352,150.017326 L186.204352,143.636228 Z M187.981264,141.23258 C187.981264,141.667813 187.504249,142.006715 186.935544,142.006715 C186.368,142.006715 185.890984,141.667813 185.890984,141.23258 C185.890984,140.813596 186.368,140.460767 186.935544,140.460767 C187.504249,140.460767 187.981264,140.813596 187.981264,141.23258 L187.981264,141.23258 Z" id="Fill-22" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M191.42715,144.410363 L191.46429,144.410363 C192.068974,143.801036 192.855876,143.460974 193.921326,143.460974 C196.304083,143.460974 196.853057,144.736497 196.853057,146.230218 L196.853057,150.019648 L195.388352,150.019648 L195.388352,146.42056 C195.388352,145.388767 195.276933,144.466073 193.57314,144.466073 C191.555979,144.466073 191.42715,145.850694 191.42715,146.991585 L191.42715,150.019648 L189.961285,150.019648 L189.961285,143.636228 L191.42715,143.636228 L191.42715,144.410363" id="Fill-23" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M205.264083,149.136415 L205.228104,149.136415 C204.512,149.829306 203.431461,150.194902 202.258073,150.194902 C199.727917,150.194902 198.132062,148.60601 198.132062,146.843026 C198.132062,145.023171 199.691938,143.460974 202.277803,143.460974 C203.431461,143.460974 204.531731,143.867192 205.228104,144.546155 L205.264083,144.546155 L205.264083,138.817326 L206.731109,138.817326 L206.731109,150.019648 L205.264083,150.019648 L205.264083,149.136415 L205.264083,149.136415 Z M199.637389,146.760622 C199.637389,148.009451 200.627399,149.189803 202.460021,149.189803 C204.348352,149.189803 205.337202,148.062839 205.337202,146.773389 C205.337202,145.497865 204.256663,144.466073 202.441451,144.466073 C200.735337,144.466073 199.637389,145.565181 199.637389,146.760622 L199.637389,146.760622 Z" id="Fill-24" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M211.128705,149.420767 C211.128705,149.842073 210.67142,150.194902 210.103876,150.194902 C209.53285,150.194902 209.075565,149.842073 209.075565,149.420767 C209.075565,149.014549 209.53285,148.674487 210.103876,148.674487 C210.67142,148.674487 211.128705,149.014549 211.128705,149.420767" id="Fill-25" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M10.1449948,110.033907 L21.141886,110.033907 C26.1720207,110.033907 31.3089326,111.129534 31.3089326,116.580974 C31.3089326,118.649202 30.1703627,120.686093 27.895544,121.345326 L27.895544,121.534508 C30.7228187,122.442114 32.5159793,124.321161 32.5159793,127.140311 C32.5159793,131.998674 27.552,133.660684 23.0012021,133.660684 L10.1449948,133.660684 L10.1449948,110.033907 L10.1449948,110.033907 Z M19.7607461,119.119254 C21.141886,119.119254 22.6924767,118.995067 22.6924767,117.364394 C22.6924767,115.611855 20.9329741,115.736041 19.5553161,115.736041 L18.9007254,115.736041 L18.9007254,119.119254 L19.7607461,119.119254 L19.7607461,119.119254 Z M18.9007254,128.020062 L19.9673368,128.020062 C21.5190881,128.020062 23.7590881,127.988725 23.7590881,126.044684 C23.7590881,124.071627 21.3484767,124.104124 19.8303834,124.104124 L18.9007254,124.104124 L18.9007254,128.020062 L18.9007254,128.020062 Z" id="Fill-26" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M34.0259482,110.033907 L53.0914819,110.033907 L53.0914819,116.488124 L44.404228,116.488124 L44.404228,118.744373 L52.339399,118.744373 L52.339399,124.886383 L44.404228,124.886383 L44.404228,127.205306 L53.3897617,127.205306 L53.3897617,133.660684 L34.0259482,133.660684 L34.0259482,110.033907" id="Fill-27" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M66.4885389,110.033907 L70.0412021,116.206093 L70.3812642,116.206093 C70.7178446,115.45401 71.0126425,114.701927 71.4374301,113.981181 L73.7226943,110.033907 L86.749513,110.033907 L75.8361865,123.475067 L75.8361865,133.660684 L64.5003938,133.660684 L64.5003938,123.475067 L53.3758342,110.033907 L66.4885389,110.033907" id="Fill-28" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M119.539399,121.909389 C119.539399,129.492891 111.043648,134.034404 100.593409,134.034404 C90.1443316,134.034404 81.6485803,129.492891 81.6485803,121.909389 C81.6485803,114.48257 90.1907565,109.655544 100.593409,109.655544 C110.997223,109.655544 119.539399,114.48257 119.539399,121.909389 L119.539399,121.909389 Z M94.1867772,122.035896 C94.1867772,124.729699 96.8225492,126.577409 100.593409,126.577409 C104.36543,126.577409 106.998881,124.729699 106.998881,122.035896 C106.998881,119.527793 104.546487,117.429389 100.593409,117.429389 C96.6414922,117.429389 94.1867772,119.527793 94.1867772,122.035896 L94.1867772,122.035896 Z" id="Fill-29" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M159.937161,110.033907 L179.605057,110.033907 C197.440332,110.033907 211.118259,113.509969 211.118259,122.190259 C211.118259,129.208539 199.978611,133.660684 184.397264,133.660684 L159.937161,133.660684 L159.937161,110.033907 L159.937161,110.033907 Z M179.252228,126.577409 L180.45115,126.577409 C186.864746,126.577409 191.79971,125.261264 191.79971,122.160083 C191.79971,118.837223 187.499606,117.429389 180.45115,117.429389 L179.252228,117.429389 L179.252228,126.577409 L179.252228,126.577409 Z" id="Fill-30" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M206.928415,110.290404 C206.928415,108.540187 208.323482,107.143959 210.091109,107.143959 C211.858736,107.143959 213.253803,108.540187 213.253803,110.290404 C213.253803,112.041782 211.858736,113.43685 210.091109,113.43685 C208.323482,113.43685 206.928415,112.041782 206.928415,110.290404 L206.928415,110.290404 Z M212.770984,110.290404 C212.770984,108.805969 211.534922,107.627938 210.091109,107.627938 C208.646135,107.627938 207.412394,108.805969 207.412394,110.290404 C207.412394,111.776 208.646135,112.954031 210.091109,112.954031 C211.534922,112.954031 212.770984,111.776 212.770984,110.290404 L212.770984,110.290404 Z M211.592953,111.993036 L211.011482,111.993036 L209.979689,110.404145 L209.398218,110.404145 L209.398218,111.993036 L208.914238,111.993036 L208.914238,108.54715 L210.414922,108.54715 C211.034694,108.54715 211.640539,108.717762 211.640539,109.459399 C211.640539,110.137202 211.164684,110.389057 210.551876,110.404145 L211.592953,111.993036 L211.592953,111.993036 Z M209.979689,109.920166 C210.407959,109.920166 211.15772,110.000249 211.15772,109.452435 C211.15772,109.097285 210.68999,109.03229 210.316269,109.03229 L209.398218,109.03229 L209.398218,109.920166 L209.979689,109.920166 L209.979689,109.920166 Z" id="Fill-31" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M207.844145,137.740269 C207.844145,136.078259 209.169575,134.75399 210.844352,134.75399 C212.522611,134.75399 213.846881,136.078259 213.846881,137.740269 C213.846881,139.40228 212.522611,140.72771 210.844352,140.72771 C209.169575,140.72771 207.844145,139.40228 207.844145,137.740269 L207.844145,137.740269 Z M213.387275,137.740269 C213.387275,136.331275 212.216207,135.213596 210.844352,135.213596 C209.475979,135.213596 208.303751,136.331275 208.303751,137.740269 C208.303751,139.150425 209.475979,140.268104 210.844352,140.268104 C212.216207,140.268104 213.387275,139.150425 213.387275,137.740269 L213.387275,137.740269 Z M212.269596,139.355855 L211.719461,139.355855 L210.738736,137.847047 L210.185119,137.847047 L210.185119,139.355855 L209.726674,139.355855 L209.726674,136.087544 L211.150756,136.087544 C211.741513,136.087544 212.316021,136.24771 212.316021,136.953368 C212.316021,137.594031 211.863378,137.831959 211.281907,137.847047 L212.269596,139.355855 L212.269596,139.355855 Z M210.738736,137.388601 C211.143793,137.388601 211.856415,137.465202 211.856415,136.944083 C211.856415,136.606342 211.413057,136.54715 211.060228,136.54715 L210.185119,136.54715 L210.185119,137.388601 L210.738736,137.388601 L210.738736,137.388601 Z" id="Fill-32" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M133.85799,110.048995 L121.086508,110.048995 L121.086508,133.675772 L133.810404,133.675772 L133.810404,121.656373 L145.07772,133.675772 L157.802777,133.675772 L157.802777,110.048995 L145.07772,110.048995 L145.07772,122.294715 L133.85799,110.048995" id="Fill-33" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M10.0823212,72.008456 L13.8996062,72.008456 C19.7932435,72.008456 25.3503005,73.5439585 25.3503005,80.5982176 C25.3503005,82.8788394 24.106114,85.534342 21.9914611,86.5313161 L21.9914611,86.6137202 C25.683399,87.2787565 28.2553368,90.8871295 28.2553368,94.5396062 C28.2553368,100.804642 22.9037098,103.294176 17.3849534,103.294176 L10.0823212,103.294176 L10.0823212,72.008456 L10.0823212,72.008456 Z M13.983171,85.8674404 L14.9766632,85.8674404 C18.6720829,85.8674404 21.7013057,85.12 21.7013057,80.6376788 C21.7013057,76.2400829 18.711544,75.4949637 15.0625492,75.4949637 L13.983171,75.4949637 L13.983171,85.8674404 L13.983171,85.8674404 Z M13.983171,99.808829 L16.9694508,99.808829 C20.5801451,99.808829 24.3568083,98.7306114 24.3568083,94.2912332 C24.3568083,89.8924767 19.874487,88.9779067 16.3879793,88.9779067 L13.983171,88.9779067 L13.983171,99.808829 L13.983171,99.808829 Z" id="Fill-34" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M30.5336373,72.008456 L47.3394404,72.008456 L47.3394404,75.5762073 L34.434487,75.5762073 L34.434487,84.3319378 L46.9645596,84.3319378 L46.9645596,87.9008497 L34.434487,87.9008497 L34.434487,99.7275855 L47.3394404,99.7275855 L47.3394404,103.294176 L30.5336373,103.294176 L30.5336373,72.008456" id="Fill-35" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M50.9895959,72.008456 L57.4623834,72.008456 C67.0479585,72.008456 75.0156269,77.0699275 75.0156269,87.4853472 C75.0156269,98.1491399 67.2139275,103.294176 57.3381969,103.294176 L50.9895959,103.294176 L50.9895959,72.008456 L50.9895959,72.008456 Z M54.8904456,99.7275855 L56.2599793,99.7275855 C64.2253264,99.7275855 71.1147772,96.7378238 71.1147772,87.6524767 C71.1147772,78.5230259 64.2253264,75.5762073 56.2599793,75.5762073 L54.8904456,75.5762073 L54.8904456,99.7275855 L54.8904456,99.7275855 Z" id="Fill-36" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M85.9927876,72.008456 L89.8112332,72.008456 C95.7025492,72.008456 101.263088,73.5439585 101.263088,80.5982176 C101.263088,82.8788394 100.017741,85.534342 97.9019275,86.5313161 L97.9019275,86.6137202 C101.596187,87.2787565 104.166964,90.8871295 104.166964,94.5396062 C104.166964,100.804642 98.8153368,103.294176 93.2965803,103.294176 L85.9927876,103.294176 L85.9927876,72.008456 L85.9927876,72.008456 Z M89.8936373,85.8674404 L90.8894508,85.8674404 C94.5825492,85.8674404 97.6106114,85.12 97.6106114,80.6376788 C97.6106114,76.2400829 94.6243316,75.4949637 90.9718549,75.4949637 L89.8936373,75.4949637 L89.8936373,85.8674404 L89.8936373,85.8674404 Z M89.8936373,99.808829 L92.8822383,99.808829 C96.491772,99.808829 100.266114,98.7306114 100.266114,94.2912332 C100.266114,89.8924767 95.7872746,88.9779067 92.3007668,88.9779067 L89.8936373,88.9779067 L89.8936373,99.808829 L89.8936373,99.808829 Z" id="Fill-37" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M111.716808,95.4506943 L108.147896,103.294176 L103.956891,103.294176 L118.894093,70.679544 L133.832456,103.294176 L129.64029,103.294176 L126.072539,95.4506943 L111.716808,95.4506943 L111.716808,95.4506943 Z M118.894093,79.2286839 L113.333554,91.882943 L124.455793,91.882943 L118.894093,79.2286839 L118.894093,79.2286839 Z" id="Fill-38" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M140.721907,103.294176 L136.821057,103.294176 L136.821057,75.5762073 L129.394238,75.5762073 L129.394238,72.008456 L148.147565,72.008456 L148.147565,75.5762073 L140.721907,75.5762073 L140.721907,103.294176" id="Fill-39" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M169.051523,84.6232539 L169.051523,72.008456 L172.952373,72.008456 L172.952373,103.294176 L169.051523,103.294176 L169.051523,88.2722487 L154.156104,88.2722487 L154.156104,103.294176 L150.256415,103.294176 L150.256415,72.008456 L154.156104,72.008456 L154.156104,84.6232539 L169.051523,84.6232539" id="Fill-40" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id="bbb" d="M202.107192,99.0613886 C199.741845,101.841078 196.421306,103.958052 192.729368,103.958052 C187.501927,103.958052 183.143793,100.141927 183.143793,94.7473575 C183.143793,90.7617824 185.633326,88.6053472 188.621927,86.4489119 L190.572933,85.0375959 C188.789057,83.1689948 187.129368,80.8465907 187.129368,78.1899275 C187.129368,73.8747358 190.239834,71.3457409 194.347275,71.3457409 C198.16572,71.3457409 201.567503,73.7505492 201.567503,77.8591503 C201.567503,81.3851192 198.496497,83.7504663 195.882777,85.6596891 L202.397347,93.5426321 L206.049824,89.3110052 L208.539358,91.882943 L204.720912,96.3652642 L210.323233,103.294176 L205.510135,103.294176 L202.107192,99.0613886 L202.107192,99.0613886 Z M192.480995,88.108601 C190.32456,89.6023212 186.796269,91.7158135 186.796269,94.7055751 C186.796269,97.6918549 189.61658,100.472705 192.605181,100.472705 C195.510218,100.472705 197.832622,98.2733264 199.783627,96.3234819 L192.854715,87.8579067 L192.480995,88.108601 L192.480995,88.108601 Z M194.183627,82.6304663 C195.758591,81.3851192 197.917347,80.0979896 197.917347,77.8173679 C197.917347,75.6179896 196.340062,74.4132642 194.26487,74.4132642 C192.399751,74.4132642 190.779523,75.7433368 190.779523,77.7326425 C190.779523,79.3110881 191.733554,80.4740311 192.648124,81.6334922 L193.683399,82.9635648 L194.183627,82.6304663 L194.183627,82.6304663 Z" id="Fill-41" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					        </g>
					    </g>
					</svg>
				</a>
			</div>
			<div class="registry-item">
				<a href="http://www.rei.com/GiftRegistryDetails/GR113550379?cm_mmc=gift_reg-_-Wedding-_-announce-_-18May2015" class="registry-svg">
					<!-- <img src="../img/rei.svg" alt="REI" class="rei-logo"> -->
					<svg viewBox="0 8 220 175" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
					    <!-- Generator: Sketch 3.3.1 (12002) - http://www.bohemiancoding.com/sketch -->
					    <title>REI</title>
					    <desc>REI logo for the registry.</desc>
					    <defs></defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
					        <path d="M0.26,0.677 L193.016,0.677 L193.016,193.433 L0.26,193.433 L0.26,0.677 Z" fill="transparent" sketch:type="MSShapeGroup"></path>
					        <g sketch:type="MSLayerGroup">
					            <path id='rei'  d="M35.464,38.168 L21.748,61.028 L29.064,58.65 L15.713,82.79 L23.76,78.584 L9.678,104.187 L19.371,99.615 L3.094,127.231 L81.55,127.231 L81.55,117.355 L83.379,117.355 L93.803,127.231 L114.469,127.231 L99.472,112.234 L107.885,103.822 L107.702,79.864 L84.476,79.864 L81.916,81.693 L81.916,75.292 L105.873,51.518 L128.733,74.195 L133.671,74.195 L154.154,54.078 L174.636,74.378 L178.111,74.378 L150.313,46.763 L128.733,68.526 L98.924,38.533 L54.667,82.608 L41.134,58.285 L48.266,61.576 L35.464,38.168 L35.464,38.168 Z M53.935,83.522 L51.009,86.448 L45.706,78.767 L53.935,83.522 L53.935,83.522 Z M64.908,91.934 L64.908,122.841 L53.57,103.09 L64.908,91.934 L64.908,91.934 Z M90.511,89.557 L90.511,101.993 L81.55,101.993 L81.55,98.152 L90.511,89.557 L90.511,89.557 Z" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id='rei' d="M153.239,79.864 L153.239,90.837 L134.585,90.837 L134.585,97.055 L153.605,97.055 L153.605,108.759 L134.585,108.759 L134.585,114.795 L153.605,114.795 L153.605,127.413 L117.395,127.413 L117.395,79.864 L153.239,79.864"  fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id='rei' d="M162.749,79.864 L178.66,79.864 L178.66,127.413 L162.749,127.413 L162.749,79.864 Z"  fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path id='rei' d="M182.317,84.071 C182.317,86.265 184.146,87.911 186.158,87.911 C188.352,87.911 190.181,86.265 190.181,84.071 C190.181,81.876 188.352,80.23 186.158,80.23 C184.146,80.23 182.317,81.876 182.317,84.071 L182.317,84.071 Z M183.049,84.071 C183.049,82.059 184.512,80.779 186.158,80.779 C187.987,80.779 189.449,82.059 189.449,84.071 C189.449,85.899 187.987,87.362 186.158,87.362 C184.512,87.362 183.049,85.899 183.049,84.071 L183.049,84.071 Z M184.695,81.693 L186.524,81.693 C187.621,81.693 187.987,82.242 187.987,82.973 C187.987,83.888 187.621,84.254 186.889,84.254 L188.169,86.265 L187.438,86.265 L186.158,84.254 L185.426,84.254 L185.426,86.265 L184.695,86.265 L184.695,81.693 L184.695,81.693 Z M185.426,83.705 L186.158,83.705 C186.706,83.705 187.438,83.705 187.438,82.973 C187.438,82.425 186.889,82.242 186.341,82.242 L185.426,82.242 L185.426,83.705 L185.426,83.705 Z"  fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M3.826,143.872 L9.312,143.872 L9.312,147.164 L8.398,147.164 L9.312,151.736 L11.324,143.872 L15.53,143.872 L17.542,151.736 L18.273,147.164 L17.542,147.164 L17.542,143.872 L22.48,143.872 L22.48,147.164 L21.565,147.164 L19.554,155.577 L15.165,155.577 L13.153,147.713 L11.141,155.577 L6.752,155.577 L4.74,147.164 L3.826,147.164 L3.826,143.872" id="Fill-6" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M27.052,143.872 L32.538,143.872 L32.538,147.164 L31.624,147.164 L32.538,151.736 L34.55,143.872 L38.756,143.872 L40.768,151.736 L41.499,147.164 L40.768,147.164 L40.768,143.872 L45.706,143.872 L45.706,147.164 L44.791,147.164 L42.78,155.577 L38.39,155.577 L36.379,147.713 L34.367,155.577 L29.978,155.577 L27.966,147.164 L27.052,147.164 L27.052,143.872" id="Fill-7" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M50.278,143.872 L55.764,143.872 L55.764,147.164 L54.85,147.164 L55.764,151.736 L57.776,143.872 L61.982,143.872 L63.994,151.736 L64.725,147.164 L63.994,147.164 L63.994,143.872 L68.931,143.872 L68.931,147.164 L68.017,147.164 L66.005,155.577 L61.616,155.577 L59.605,147.713 L57.593,155.577 L53.204,155.577 L51.192,147.164 L50.278,147.164 L50.278,143.872" id="Fill-8" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M73.138,151.188 L77.527,151.188 L77.527,155.577 L73.138,155.577 L73.138,151.188 Z" id="Fill-9" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M87.951,146.067 C88.134,145.336 88.5,143.872 90.694,143.872 L91.791,143.872 L91.791,147.713 C91.426,147.713 91.243,147.53 90.877,147.53 C89.963,147.53 89.231,147.896 88.865,148.262 C88.317,148.81 88.317,149.359 88.317,150.456 L88.317,152.285 L89.597,152.285 L89.597,155.577 L83.196,155.577 L83.196,152.285 L84.11,152.285 L84.11,147.164 L83.196,147.164 L83.196,143.872 L87.768,143.872 L87.951,146.067" id="Fill-10" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M100.935,148.444 C100.935,147.896 100.935,146.616 102.399,146.616 C102.764,146.616 103.313,146.799 103.679,147.53 L103.679,148.444 L100.935,148.444 L100.935,148.444 Z M103.679,151.553 C103.679,152.102 103.496,153.016 102.216,153.016 C100.753,153.016 100.753,151.553 100.753,150.639 L107.885,150.639 C107.885,149.542 108.068,146.799 106.239,145.153 C105.507,144.238 104.044,143.69 102.216,143.69 C99.838,143.69 97.644,144.787 96.912,147.53 C96.546,148.262 96.546,149.176 96.546,149.908 C96.546,154.297 99.29,155.943 102.399,155.943 C103.862,155.943 105.325,155.577 106.422,154.48 C107.336,153.565 107.519,152.468 107.702,151.553 L103.679,151.553 L103.679,151.553 Z" id="Fill-11" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M118.126,143.872 L118.126,152.285 L119.041,152.285 L119.041,155.577 L112.823,155.577 L112.823,152.285 L113.92,152.285 L113.92,147.164 L112.823,147.164 L112.823,143.872 L118.126,143.872 L118.126,143.872 Z M113.554,139.666 L118.126,139.666 L118.126,142.775 L113.554,142.775 L113.554,139.666 Z" id="Fill-12" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M124.893,151.188 L129.282,151.188 L129.282,155.577 L124.893,155.577 L124.893,151.188 Z" id="Fill-13" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M145.924,151.188 C145.924,151.919 145.924,152.468 145.558,153.382 C144.827,154.663 143.547,155.943 140.62,155.943 C137.877,155.943 136.963,154.845 136.597,154.48 C135.317,153.2 134.951,151.371 134.951,149.542 C134.951,148.81 134.951,146.25 136.597,144.787 C137.329,144.056 138.426,143.69 139.523,143.69 C140.072,143.69 140.803,143.69 141.352,144.056 C141.901,144.421 142.267,144.604 142.449,145.153 L142.632,143.872 L145.741,143.872 L145.741,148.444 L142.084,148.444 C142.084,147.896 142.084,147.53 141.535,146.981 C141.352,146.799 140.986,146.799 140.803,146.799 C139.523,146.799 139.34,147.896 139.34,149.725 C139.34,151.371 139.523,152.651 140.803,152.651 C141.901,152.651 142.084,151.736 142.084,151.188 L145.924,151.188" id="Fill-14" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M158.177,149.725 C158.177,150.456 158.177,152.651 156.531,152.651 C155.8,152.651 155.434,152.102 155.068,151.736 C154.885,151.188 154.885,150.456 154.885,149.725 C154.885,149.176 154.885,147.896 155.434,147.164 C155.8,146.981 155.983,146.799 156.531,146.799 C158.177,146.799 158.177,148.993 158.177,149.725 L158.177,149.725 Z M150.496,149.725 C150.496,150.639 150.679,152.834 152.142,154.48 C153.056,155.211 153.971,155.577 154.885,155.76 C155.434,155.943 155.983,155.943 156.531,155.943 C157.445,155.943 158.543,155.76 159.64,155.394 C160.555,154.845 161.469,154.114 162.017,152.468 C162.383,151.553 162.383,150.639 162.383,149.908 C162.383,146.067 160.555,143.69 156.531,143.69 C155.434,143.69 154.336,143.872 153.239,144.421 C150.496,145.884 150.496,148.81 150.496,149.725 L150.496,149.725 Z" id="Fill-15" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					            <path  d="M172.442,145.519 C172.808,144.787 173.905,143.69 175.733,143.69 C176.282,143.69 177.197,143.69 177.928,144.604 C178.294,144.97 178.477,145.153 178.66,145.519 C178.66,145.336 178.843,144.97 179.208,144.604 C179.757,144.056 180.671,143.69 181.769,143.69 C182.866,143.69 183.597,144.056 183.963,144.421 C184.695,145.153 184.695,146.067 184.877,146.799 L184.877,152.285 L185.792,152.285 L185.792,155.577 L180.671,155.577 L180.671,148.444 C180.671,147.896 180.671,147.164 179.757,147.164 C179.574,147.164 179.208,147.347 179.025,147.53 C178.66,147.896 178.66,148.262 178.66,148.81 L178.66,152.285 L179.391,152.285 L179.391,155.577 L174.636,155.577 L174.636,148.81 C174.636,148.079 174.636,147.164 173.722,147.164 C173.356,147.164 173.173,147.347 172.99,147.53 C172.624,147.896 172.624,148.444 172.624,148.993 L172.624,152.285 L173.356,152.285 L173.356,155.577 L167.504,155.577 L167.504,152.285 L168.418,152.285 L168.418,147.164 L167.504,147.164 L167.504,143.872 L172.259,143.872 L172.442,145.519" id="Fill-16" fill="rgb(51, 51, 51)" sketch:type="MSShapeGroup"></path>
					        </g>
					    </g>
					</svg>
				</a>
			</div>
		</section>
	</div>
	<div class="footer">
		<p class="footer-text">See you on August 27th!</p>
	</div>
</div>