@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Rouge+Script);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  border: none !important;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 16px; }

p, input, label, select {
  font-family: 'Montserrat', sans-serif; }

.landing-section {
  background: url(../../img/wedding.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1000px; }
  @media screen and (max-width: 768px) {
    .landing-section {
      background: url(../../img/wedding-small.jpg) no-repeat center top fixed;
      min-height: 740px; } }

.scroll-on-page {
  display: inline-block; }
  .scroll-on-page a {
    color: #af78c7 !important;
    text-decoration: none; }
  @media screen and (min-width: 53.75em) {
    .scroll-on-page aside {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%; }
      .scroll-on-page aside:last-child {
        margin-right: 0; } }
  .scroll-on-page .scroll-on-page-link {
    border-bottom: 1px solid rgba(71, 125, 202, 0.2);
    display: block;
    margin-right: 1.5em;
    outline: none;
    padding: 0.75em 0; }
    .scroll-on-page .scroll-on-page-link:last-child {
      margin-bottom: 1.5em; }
  .scroll-on-page article h4 {
    margin: 0 0 0.5em 0; }
  .scroll-on-page article p {
    color: #333;
    line-height: 1.5; }
  .scroll-on-page article section p:last-of-type {
    margin-bottom: 2em; }
  @media screen and (min-width: 53.75em) {
    .scroll-on-page article {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 65.95745%; }
      .scroll-on-page article:last-child {
        margin-right: 0; } }

input {
  width: 100%; }

.wedding-title-container {
  padding-top: 20px;
  max-width: 78em !important;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1500px) {
    .wedding-title-container {
      max-width: 90em !important; } }
  .wedding-title-container::after {
    clear: both;
    content: "";
    display: table; }
  .wedding-title-container .wedding-title {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%; }
    .wedding-title-container .wedding-title:last-child {
      margin-right: 0; }
  .wedding-title-container #wedding-svg-container {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-top: 20px; }
    .wedding-title-container #wedding-svg-container:last-child {
      margin-right: 0; }
  .wedding-title-container #rsvp-svg-container {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-top: 40px; }
    .wedding-title-container #rsvp-svg-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wedding-title-container #rsvp-svg-container {
        margin-top: 10px; } }
  .wedding-title-container #accomodations-svg-container {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-top: 20px; }
    .wedding-title-container #accomodations-svg-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wedding-title-container #accomodations-svg-container {
        margin-top: 10px; } }
  .wedding-title-container #registry-svg-container {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-top: 50px; }
    .wedding-title-container #registry-svg-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wedding-title-container #registry-svg-container {
        margin-top: 15px; } }

.centered-navigation {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.9;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em;
      cursor: pointer; } }
  .centered-navigation ul li.nav-link {
    background: #fff;
    opacity: 0.9;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: rgba(51, 51, 51, 0.7);
      display: inline-block;
      outline: none;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
        color: #333; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 0.6; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(51, 51, 51, 0.7);
      content: "\25BE"; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #ddebe4;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #E7F1EC;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.wedding-title-text {
  font-family: 'Rouge Script', cursive;
  font-size: 12vw;
  font-weight: 500;
  padding: 3% 3% 0 3%;
  display: inline-block;
  margin-bottom: 1%;
  text-shadow: 2.2px 2.2px 4px black, 1px 2px 0 black; }

.wedding-info-text {
  font-size: 100%;
  font-weight: 200;
  padding: 3%; }

#wedding-svg {
  width: 50%;
  height: 50%; }

.wedding-link {
  color: #af78c7; }

.error-success-message {
  display: inline-block;
  padding-top: 23px; }

.message {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.error {
  color: #dc322f; }

.success {
  color: #2aa198; }

.message.ng-hide {
  opacity: 0; }

.message.ng-hide-add, .message.ng-hide-remove {
  display: inline-block !important; }

#rsvp-section {
  background: aliceblue; }

.field--wrapper {
  position: relative;
  margin-bottom: 20px; }

label {
  position: absolute;
  top: -13px;
  left: 27px;
  font-size: 11px;
  color: #aaa;
  transition: all 0.1s linear;
  opacity: 0;
  font-weight: bold; }

label.on {
  color: #a3a3a3; }

label.show {
  top: -15px;
  opacity: 1; }

body {
  /* the following line fixes a blink in chrome https://code.google.com/p/chromium/issues/detail?id=108025 */
  -webkit-backface-visibility: hidden; }

.wedding-info-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 78em;
  padding-top: 20px;
  padding-bottom: 30px; }
  .wedding-info-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1500px) {
    .wedding-info-container {
      max-width: 90em !important; } }
  .wedding-info-container .rsvp-form-container {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .wedding-info-container .rsvp-form-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .wedding-info-container .rsvp-form-container {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 100%; }
        .wedding-info-container .rsvp-form-container:last-child {
          margin-right: 0; } }

.rsvp-section-input-container {
  border-bottom: 4px solid #a3a3a3;
  padding-bottom: 3%; }

input, label {
  border: none;
  background-color: transparent; }

input:focus {
  outline-color: transparent;
  outline: 0; }

.send-rsvp-btn {
  background-color: #477dca;
  border-radius: 3px;
  border: 0;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  float: right;
  margin-top: 4px;
  background-color: transparent;
  border: 3px solid #a3a3a3;
  color: #a3a3a3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .send-rsvp-btn:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer; }
  .send-rsvp-btn:active:not(:disabled), .send-rsvp-btn:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer; }
  .send-rsvp-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  .send-rsvp-btn:hover {
    background-color: transparent !important;
    border: 3px solid #af78c7;
    color: #af78c7; }

.btn-wrapper {
  padding: 1.5em; }
  .btn-wrapper::after {
    clear: both;
    content: "";
    display: table; }

#rsvp-svg {
  width: 50%; }

#accomodations-section {
  background: radial-gradient(circle at 50% 30%, #af78c7 20%, #a262bd 120%, #954bb4); }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 1.5%; }

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  margin: 0 1em 1.5em 1em;
  position: relative;
  box-shadow: 0 2px 4px #19212a; }
  .card .card-image {
    overflow: hidden;
    max-height: 150px;
    background: linear-gradient(0deg, #7e3f94, #9349ac), no-repeat #9349ac scroll;
    border-bottom: 4px solid #6a357c; }
    .card .card-image img {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    .card .card-image .holiday-inn-logo {
      width: 55%;
      padding-top: 40px;
      padding-bottom: 40px; }
    .card .card-image .hampton-inn-logo {
      width: 30%;
      padding-bottom: 25px;
      padding-top: 25px; }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    border-bottom: none; }
  .card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em;
    overflow-wrap: break-word; }
    .card .card-copy p {
      margin: 0 0 0.75em; }

#accomodations-svg {
  width: 50%; }

.accomodations-link {
  color: #af78c7; }

#registry-section {
  background: #abddc6; }

#registry-svg {
  width: 50%; }

.registry-title {
  margin-right: 44%;
  vertical-align: super; }

.registry-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 78em !important; }
  .registry-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 1500px) {
    .registry-container {
      max-width: 90em !important; } }
  .registry-container .registry-item {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    padding: 6%; }
    .registry-container .registry-item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .registry-container .registry-item {
        float: left;
        display: block;
        margin-right: 6.66667%;
        width: 100%; }
        .registry-container .registry-item:last-child {
          margin-right: 0; } }

.registry-item img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px; }

.rei-logo {
  width: 47% !important; }

.footer {
  min-height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #333333; }

.footer-text {
  text-align: center;
  margin: 0;
  font-family: 'Rouge Script', cursive;
  font-size: 2em; }

.registry-svg svg #bbb, .registry-svg svg #rei {
  transition: 500ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 500ms;
  -webkit-transition-timing-function: ease-in-out; }

.registry-svg svg:hover #bbb, .registry-svg svg #rei:hover path {
  fill: aliceblue; }
