#registry-section {
	 background: rgb(171,221,198);
}
#registry-svg {
	width: 50%;
}
.registry-title {
	  margin-right: 44%;
	    vertical-align: super;
}
.registry-container {
	@include outer-container;
	max-width: 78em !important;
	@media screen and (min-width: $break-xl) {
	         max-width: 90em !important;
	    }
	.registry-item {
	@include span-columns(6);
	padding: 6%;
	    	@include media($mobile) {
	      		@include span-columns(4);
	    	}
	}
}
.registry-item img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}
.rei-logo {
	width: 47% !important;
}
.footer {
	min-height: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid rgb(51,51,51);

}
.footer-text {
	text-align: center;
	margin: 0;
	font-family: 'Rouge Script', cursive;
	font-size: 2em;
}
.registry-svg svg #bbb, .registry-svg svg #rei {
	transition: 500ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 500ms;
	-webkit-transition-timing-function: ease-in-out;	
}
.registry-svg svg:hover #bbb, .registry-svg svg #rei:hover path {
	fill: aliceblue;
}