
#wedding-section {

}

.wedding-title-text {
	font-family: 'Rouge Script', cursive;
	font-size: 12vw;
	font-weight: 500;
	padding: 3% 3% 0 3%;
	display: inline-block;
  	margin-bottom: 1%;
  	margin-right: 25%;
  	text-shadow: 2.2px 2.2px 4px darken(rgb(51, 51, 51), 50%),1px 2px 0 darken(rgb(51, 51, 51), 50%);
}
.wedding-info-text {
	font-size: 100%;
	font-weight: 200;
	padding: 3%;
}

#wedding-svg {
	width: 10%;
	height: 10%;
}
.wedding-link {
	color: tint($bride-purple, 40%);
}